.newParty, .share {
  white-space: nowrap;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.newParty__fields {
  margin-bottom: 1em;
  width: 24em;

  @include medium {
    width: 16em;
  }

  @include small {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }
  input {
    margin-bottom: 1em;
    border-radius: 4px;
    border: 0px solid;
    height: 2em;
    width: 100%;
    background-color: white;
    padding-left: .5em;

    -webkit-box-shadow: 0px 2px 18px -6px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 2px 18px -6px rgba(0,0,0,0.50);
    box-shadow: 0px 2px 18px -6px rgba(0,0,0,0.50);
  }
}

button {
  letter-spacing: 0.05em;
  color: white;
  border-radius: 20px;
  border: 0px solid;
  background-color: #23436b;
  width: 100%;
  height: 2em;
}