@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';

body {
  padding: 1em;
  font-family: 'Geneva';
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}