@import 'vendors/reset.scss';

body {
  padding: 1em;
  font-family: 'Geneva';
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 3em;
}

form {
  font-size: 1.2em;
  text-align: center;

  div {
   margin-bottom: 1em;
  }
  input {
    margin-left: 1em;
    height: 32px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid
  }
}

